.header{
	display: block;
	grid-column: 1 / -1;
	align-items:center; 
	text-align: center;
	display: block;
}

.main-table{
	margin-right: 1em;
	margin-left: 1em;
}

vscode-checkbox{
	display: contents;
}
.checkbox{
	justify-self: center;
}
.checkbox-text{
	text-align: center;
}
.header-row{
	z-index: 100;
}
.header-row:hover{
	background: var(--background);
}