/* You can add global styles to this file, and also import other style files */
/* @import 'ag-grid-community/dist/styles/ag-theme-balham-dark.min.css'; */

@import '../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../node_modules/ag-grid-community/dist/styles/ag-theme-balham-dark.css';

body, html{
	margin: 0;
	padding: 0;
}

.hidden{
	visibility: hidden; 
	height: 0;
}

.logo-img{
	width: 2em;
}
.logo-text{
	font-size: 2em;
	margin-left: 1em;
}

.logo-link{
	font-size: 1em;
}

.header{
	vertical-align: middle;
	display: flex;
	align-items: center;
	width: 60%;
	margin: 40px auto 0 auto;
}