<div class="header">
	<img class="logo-img"src={{circleImageUri}} alt="logo">
	<span class="logo-text"> 
		<vscode-link class="logo-link" href="https://creatio.com" target="_blank">
			Creatio
		</vscode-link>
		connection</span>
</div>
<form id='add-new-connection' class='add-new-connection' #form="ngForm" (ngSubmit)="onSubmit(form)">
	<vscode-text-field 
		type="text" id="url" name="url" size="40" placeholder="https://myInstance.creatio.com" 
		required [(ngModel)]="data.url" ngDefaultControl
		#trackUrl="ngModel" (keyup)="onUrlFocusOut(form)" [pattern]="urlPattern" required> 
		Creatio Url:
		<span slot="end" class="codicon codicon-link"></span>
		<span slot="start" *ngIf="!trackUrl.valid && trackUrl.touched" 
			class="codicon codicon-error invalid-icon"></span>
	</vscode-text-field> <vscode-button (click)="onGoOAuth(form)" style="width: 100px; height: 25.5px; position: absolute; margin-top: 20px; margin-left: 20px;">Setup OAuth</vscode-button>
	<div class="invalid-input" *ngIf="!trackUrl.valid && trackUrl.touched">
		<span>Connection Url is required. Url must start with http:// or https://</span>
	</div>
	<br><br>

	<vscode-text-field 
		type="text" id="cname" name="cname" placeholder="MyConnection"
		ngDefaultControl
		required [(ngModel)]="data.connectionName" #trackName="ngModel">
		Connection name:
		<span slot="end" class="codicon codicon-case-sensitive"></span>
		<span 
			slot="start" *ngIf="!trackName.valid && trackName.touched" 
			class="codicon codicon-error invalid-icon"></span>
	</vscode-text-field>
	<div class="invalid-input" *ngIf="!trackName.valid && trackName.touched">
		<span>Connection name required</span>
	</div>
	<br><br>
	
	<vscode-text-field 
		type="text" id="username" name="username" size="40" placeholder="Supervisor"
		 [(ngModel)]="data.userName" ngDefaultControl
		#trackUsername="ngModel">
			Username:
			<span slot="end" class="codicon codicon-account"></span>
			<span slot="start" *ngIf="!trackUsername.valid && trackUsername.touched" 
				class="codicon codicon-error invalid-icon"></span>
	</vscode-text-field>
	<!-- <div class="invalid-input" *ngIf="!trackUsername.valid && trackUsername.touched">
		<span>Username is required</span>
	</div> -->
	<br><br>
	
	<vscode-text-field 
		type="password" id="password" name="password" size="40" placeholder="Supervisor"
		 [(ngModel)]="data.password" ngDefaultControl
		#trackPassword="ngModel">
			Password:
			<span slot="end" class="codicon codicon-key"></span>
			<span slot="start" *ngIf="!trackPassword.valid && trackPassword.touched" 
				class="codicon codicon-error invalid-icon"></span>
	</vscode-text-field>
	<!-- <div class="invalid-input" *ngIf="!trackPassword.valid && trackPassword.touched">
		<span>Password is required</span>
	</div> -->
	<br><br>

	<vscode-text-field 
		type="clientId" id="clientid" name="clientid" size="40" placeholder="oauth-clientid"
		 [(ngModel)]="data.clientId" ngDefaultControl
		#trackPassword="ngModel">
			OAuth Client Id:
			<span slot="end" class="codicon codicon-device-mobile"></span>
			<span slot="start" *ngIf="!trackPassword.valid && trackPassword.touched" 
				class="codicon codicon-error invalid-icon"></span>
	</vscode-text-field>
	<br /><br />
	<vscode-text-field 
		type="clientSecret" id="clientSecret" name="clientSecret" size="40" placeholder="oauth-client-secret"
		 [(ngModel)]="data.clientSecret" ngDefaultControl
		#trackPassword="ngModel">
			OAuth Client Secret:
			<span slot="end" class="codicon codicon-shield"></span>
			<span slot="start" *ngIf="!trackPassword.valid && trackPassword.touched" 
				class="codicon codicon-error invalid-icon"></span>
	</vscode-text-field>
	<br /><br />

	
	<vscode-text-field 
		type="text" id="maintainer" name="maintainer" placeholder="Customer"
		[(ngModel)]="data.maintainer" ngDefaultControl
	>Maintainer:</vscode-text-field><br><br><br>
	
	<!--<div id="CheckBoxes">
		<vscode-checkbox 
			type="checkbox" id="isNetCore" name="isNetCore"
			required [(ngModel)]="data.isNetCore"  ngDefaultControl>Is NetCore</vscode-checkbox>

		<vscode-checkbox 
			type="checkbox" id="isSafe" name="isSafe" 
			required [(ngModel)]="data.isSafe"  ngDefaultControl>IsSafe</vscode-checkbox>
		
		<vscode-checkbox 
			type="checkbox" id="isDeveloperModeEnabled" name="isDeveloperModeEnabled" 
			required [(ngModel)]="data.isDeveloperMode"  ngDefaultControl>Is Developer Mode</vscode-checkbox>
		<br><br><br>
	</div> -->

	<div id="submitButton">
		<vscode-button (click)="onSubmit(form)" ngDefaultControl>SAVE</vscode-button>
	</div>
	<br /><br />
</form>
