h1{
	display: table;
	width: 60%;
	margin: 40px auto 0 auto;
}
form {
	display: table;
	width: 60%;
	margin: 40px auto 0 auto;
}

vscode-text-field{
	width: 100%;
}
#CheckBoxes {
	text-align: center;
	margin-right: 20px;
}
vscode-checkbox {
	padding-left: 20px;
	padding-right: 20px;
}

#submitButton {
	text-align: center;
}
vscode-button {
	width: 60%;
	background-color: #ED522F;
}
vscode-button:hover {
	background-color: #b53c21;
}

.invalid-icon{
	color: #b53c21;
}

.invalid-input {
	color: #b53c21;
}

.logo-img{
	width: 4em;
}
.logo-text{
	font-size: 2em;
	margin-left: 1em;
}

.logo-link{
	font-size: 1em;
}

.header{
	vertical-align: middle;
	display: flex;
	align-items: center;
	width: 60%;
	margin: 40px auto 0 auto;
}