.header{
	display: block;
	grid-column: 1 / -1;
	align-items:center; 
	text-align: center;
	display: block;
}

.main-table{
	margin-right: 1em;
	margin-left: 1em;
}

vscode-checkbox{
	display: contents;
}
.checkbox{
	justify-self: center;
}
.checkbox-text{
	text-align: center;
}
.header-row{
	z-index: 100;
}
.header-row:hover{
	background: var(--background);
}
.loadingMask{
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-items: center;
	align-content: center;

}
.loadingMaskWrapper{
	z-index: 200;
}
.loadingMaskWrapper vscode-progress-ring{
	width: auto;
}

.loading{
	opacity: .3;
	pointer-events: none;
}

.config{
	display: grid;
	align-items: center;
	grid-template-columns: auto 64px;
	justify-items: start;
}

.creatio-button{
	background-color: #ED522F;
}
.creatio-button:hover{
	background-color: #b53c21;
}
