<div *ngIf="catalog.length > 0" class="main-table" >
	<vscode-data-grid aria-label="Catalog" grid-template-columns="100px 1fr 50px" generate-Header="sticky">
		<vscode-data-grid-row row-type="sticky-header">
			<div class="header">
				<div >
					<img class="logo-img"src={{circleImageUri}} alt="logo">
					<span class="logo-text">Install an app on {{environmentName}}</span>
				</div>
				<br/>
				<div>
					<vscode-text-field type="text" id="cname" name="cname" placeholder="search" size="100"
						#myData	(keyup)="search(myData)" ngDefaultControl>
						<span slot="start" class="codicon codicon-search"></span>
					</vscode-text-field>
				</div>
				<br/><br/>
			
			</div>

			<vscode-data-grid-cell cell-type="columnheader" grid-column="1">App Id</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="2">App Name</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="3" class="install">Add</vscode-data-grid-cell>
		</vscode-data-grid-row>
		<vscode-data-grid-row *ngFor="let item of catalog">
			<vscode-data-grid-cell grid-column="1" class="content-cell">{{item.id}}</vscode-data-grid-cell>
			<vscode-data-grid-cell grid-column="2" class="content-cell">
				<span *ngIf="item.id==23425" class="codicon codicon-star-full" style="color: yellow;"></span>
				<span *ngIf="item.id==10096" class="codicon codicon-star-full" style="color: yellow;"></span>
				<span *ngIf="item.id==22966" class="codicon codicon-star-full" style="color: yellow;"></span>
				{{item.name}}
			</vscode-data-grid-cell>
			<vscode-data-grid-cell grid-column="3">
				<vscode-button class="creatio-button install">
					<span class="codicon codicon-add" id={{item.id}} (click)="install(item.id)"></span>
				</vscode-button>
			</vscode-data-grid-cell>
		</vscode-data-grid-row>
	</vscode-data-grid>
</div>