vscode-text-field{
	width: 60%;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
}
.install{
	text-align: center;
}

.creatio-button {
	background-color: #ED522F;
}
.creatio-button:hover {
	background-color: #b53c21;
}


.main-table{
	margin-right: 1rem;
	margin-left: 1rem;
}



.content-cell{
	align-self: center;
}
vscode-button{
	margin-left: -3px;
}

.header{
	display: block;
	grid-column: 1 / 3;
	align-items:center; 
	text-align: center;
	display: block;
	margin-top: 1rem;
	width: 100%;
}

.header-row:hover{
	background: var(--background);
}
.header-title{
	display: grid;
	grid-template-columns: 100px 1fr 50px;
}
.content-cell{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content-cell>div{
	width: 100%;
}

.content-cell > .title{
	font-weight: 500;
	font-size: larger;
}
.content-cell > .short-description{
	font-weight: lighter;
	font-size: smaller;
}
.content-cell > .marketplace-url{
	font-weight: lighter;
	font-size: smaller;
}


.tag-container{
	display: flex;
	justify-content: center;
	margin-top:10px;
	width: 100%;

}
.tag-item{
	margin: 3px;
	width: 50px;
	display: flex;
}
.icon{
	position: relative;
	top: 4px;
}

.icon:hover{
	/* position: relative;
	top: 4px; */
	color:#ED522F;
}

