vscode-text-field{
	width: 60%;
}

.install{
	text-align: center;
}

.creatio-button {
	background-color: #ED522F;
}
.creatio-button:hover {
	background-color: #b53c21;
}


.main-table{
	margin-right: 100px;
	margin-left: 100px;
}



.content-cell{
	align-self: center;
}
vscode-button{
	margin-left: -3px;
}

.header{
	display: block;
	grid-column: 1 / 3;
	align-items:center; 
	text-align: center;
	display: block;
}