<div *ngIf="unFilteredCatalog.length>0"  class="main-table" >
	<vscode-data-grid aria-label="Catalog" grid-template-columns="1fr" generate-Header="sticky">
		<vscode-data-grid-row row-type="sticky-header" class="header-row">
			<div class="header">
				<div class="logo">
					<img class="logo-img"src={{circleImageUri}} alt="logo">
					<span class="logo-text">Install an app on {{environmentName}}</span>
				</div>
				<br/>
				<div>
					<vscode-text-field type="text" id="cname" name="cname" placeholder="search" size="100"
						#myData	(keyup)="search(myData)" ngDefaultControl>
						<span slot="start" class="codicon codicon-search"></span>
					</vscode-text-field>
					<div class="tag-container">
						<vscode-tag class="tag-item" ngDefaultControl *ngFor="let tag of selectedApps" >
							{{tag}}
							<span class="codicon codicon-close icon" (click)="removeFromSelectedApps(tag)"></span>
						</vscode-tag>
					</div>
				</div>
				<br/><br/>
			</div>
			
			<vscode-data-grid-cell cell-type="columnheader" grid-column="1">
				<div class="header-title">
					<div>App Id</div>
					<div>App Name</div>
					<div>Action</div>
				</div>
			</vscode-data-grid-cell>
		</vscode-data-grid-row>
		<vscode-data-grid-row *ngFor="let item of catalog" #dataItem #myRowData>
			<vscode-data-grid-cell grid-column="1" class="content-cell" style="grid-column: 1 / -1;">
				<app-marketplace-app [MarketplaceApp]="item" style="width: 100%;" (Selected)="onSelectedForInstall($event)"></app-marketplace-app>
			</vscode-data-grid-cell>
		</vscode-data-grid-row>
	</vscode-data-grid>
</div>