<p>Marketplace applications</p>
<p>Leaf icon: <span class="glyphicon glyphicon-leaf"></span></p>    

<div style="max-width: 800px">
	<vscode-data-grid aria-label="Source Paths"  grid-template-columns="100px 1fr 100px 100px 100px 100px">
		<vscode-data-grid-row row-type="header">
			<vscode-data-grid-cell cell-type="columnheader" grid-column="1">App Id</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="2">App Name</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="3">Free</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="4">Certified</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="5">Online</vscode-data-grid-cell>
			<vscode-data-grid-cell cell-type="columnheader" grid-column="6"></vscode-data-grid-cell>
		</vscode-data-grid-row>
		<vscode-data-grid-row>
			<vscode-data-grid-cell grid-column="1"><span>1000</span></vscode-data-grid-cell>
			<vscode-data-grid-cell grid-column="2"><span class="certified">A very long app name goes here</span></vscode-data-grid-cell>
			<vscode-data-grid-cell grid-column="3"><vscode-checkbox checked="true"></vscode-checkbox></vscode-data-grid-cell>
			<vscode-data-grid-cell grid-column="4"><vscode-checkbox checked="true"></vscode-checkbox></vscode-data-grid-cell>
			<vscode-data-grid-cell grid-column="5">
				<span>
					<a href="https://marketplace.creatio.com/app/salesloft-connector-creatio" target="_blank">View online</a>
				</span>
			</vscode-data-grid-cell>
			
		
			<!-- <vscode-data-grid-cell grid-column="6">
				<vscode-button> Install</vscode-button>
			</vscode-data-grid-cell> -->
		</vscode-data-grid-row>
	</vscode-data-grid>
</div>